%h1 That didn't work

%p
  %span Don't worry, it doesn't mean you're not invited, just that we don't have your Facebook account on file. You can us the link we emailed you to get access or just
  = link_to "email us", controller: :info, action: :contact
  %span and we'll get you fixed up.
