%tr.person
  = f.hidden_field :_destroy, class: "person-destroyer"
  %td
    = f.text_field :name, class: "input-large"
  %td
    = f.check_box :attending
  %td
    = f.check_box :user_editable
  %td
    %a.delete-person.btn.btn-danger{href: "#"}
      %i.icon-trash
      %span Remove
