.row.subheader
  %h1 Thanks!

.row
  %h3 Here are some other things you can do:

  %ul
    %li= link_to "See who else is going", controller: :attendees, action: :index
    %li= link_to "See info about location/time", controller: :info, action: :index, anchor: "when"
    %li Learn how we met
