%p= "Hi #{@family.name}!"

%p We wanted to apprise everyone of the bus situation for tomorrow. We definitely recommend taking the bus from the hotel to the venue.

%p
  %strong Getting there.
  %span It picks up at the DoubleTree at 4:30 and the Comfort Inn at 4:45. We'll send the bus back if we miss anyone, but you might miss the ceremony.

%p
  %strong Getting back.
  %span We'll send the bus back periodically during the reception, so you'll be able to leave when you need to. The last bus will leave when the reception ends at midnight.

%p -Isaac and Anjali


