%p= "Hi #{@family.name}!"

%p Our wedding is fast approaching and we've decided it's high-time to formally invite you to it. So here it is.

%h3 You're invited to our wedding!

%p May 18, 2013, 5 PM
%p Willowdale Estate
%p 24 Asbury St
%p Topsfield, MA
%p Reception immediately after

%p To RSVP and for all the information you need (hotel, travel information, guest details, etc), please go here:

%p
  %a{href: authenticated_url(@family)}= authenticated_url(@family)

%p That link is only good for you, so please don't share it.

%p -Isaac and Anjali
