.row
  %h1 Contact us
.row
  %p We're easy to reach. If you have any questions, just shoot us an email, and we'll get right back to you.
  %ul
    %li
      %span Email Isaac at
      %a{href: "mailto:icambron@alum.mit.edu"}icambron@alum.mit.edu
    %li
      %span Email Anjali at
      %a{href: "mailto:anjaliverghese@gmail.com"}anjaliverghese@gmail.com

