.row
  .hero-unit
    .row
      .span4
        %h1 Isaac & Anjali
        %h2 are getting married. Booya!
        %h3 May 18, 2013
        %h3 Topsfield, MA

        .rsvp-button
          - if @current_family
            = link_to "RSVP", {controller: :rsvps, action: :show}, class: "btn btn-primary btn-large"

      .span3.hidden-phone
        .thumbnail
          %img{src: '/assets/back_to_back.jpg'}
      .span3.visible-desktop
        %p This website has all the info you need to...
        %ul.nav.nav-list
          %li
            %a{href: "#when"}...know where to go
          %li
            %a{href: "#travel"}...find accommodations
          %li
            %a{href: "/rsvp"}...RSVP
          %li
            %a{href: "/how_we_met"}...read all about us
          %li
            %a{href: "/info/photos"}...see pictures of us doing silly stuff
          %li
            %a{href: "/info/registry"}...buy us nice things
          %li
            %a{href: "http://youtu.be/FmawyZ6JnDE?t=46m43s"}...learn kung fu

        %p We may have made one of those up.

.subnav
  %ul.nav.nav-pills
    %li
      %a{href: '#when'}
        %i.icon-time
        When and where

    %li
      %a{href: '#travel'}
        %i.icon-plane
        Travel and accommodations

    %li
      %a{href: '#activities'}
        %i.icon-calendar
        Other activities

    %li
      %a{href: '#video'}
        %i.icon-film
        Save the date video


.container
  %section#when
    .page-header
      %h1
        %i.icon-time
        %span When and where
        %small The dealio, yo

    %p 
      %span The ceremony and the reception at Willowdale Estate. It all starts at
      %strong 5:00 PM
      %span , with the reception right afterwards.

    %address
      %span Willowdale Estate
      %br
      %span 24 Asbury St
      %br
      %span Topsfield, MA

    %p Things you need to know:

    %ul
      %li Dress as casually as you'd like. Isaac won't be wearing a tie, if that helps.
      %li Hats highly encouraged
      %li Open bar.
      %li We'll be busing people to and from the hotels (see below).
      %li No kids or pets

    .thumbnail.visible-desktop
      %img{src: "/assets/willowdale.jpg"}

  %section#travel
    .page-header
      %h1
        %i.icon-plane
        %span Travel and accommodations
        %small Hotels, airports, that kind of thing

    %h2 Hotels

    %p
      We have a block of rooms at the 
      %strong
        %a(href="http://doubletree3.hilton.com/en/hotels/massachusetts/doubletree-by-hilton-hotel-boston-north-shore-BOSNSDT/index.html") North Shore DoubleTree
      and 
      %strong will also be providing a shuttle from there to Willowdale. So if you stay there, you won't have to drive.

    %p If for some reason, that just isn't your bag, here are some alternatives:

    %ul
      %li
        %a(href="http://www.comfortinn.com/hotel-danvers-massachusetts-MA081?source=gglocaljn") Comfort Inn
        in Danvers
      %li
        %a(href="http://www.marriott.com/hotels/travel/BOSDV-Courtyard-Boston-Danvers") Courtyard
        in Danvers

    %p But you should really stay in the DoubleTree if you can. Here's a handy map with the hotels (<font color="red">red</font>) and the venue (<font color="blue">blue</font>):
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=213756666646673663709.0004d70cff084fda97949&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=42.6044,-70.941124&amp;spn=0.121296,0.219727&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msid=213756666646673663709.0004d70cff084fda97949&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=42.6044,-70.941124&amp;spn=0.121296,0.219727&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">Wedding Locations</a> in a larger map</small>

    %section
      %h2 Getting there

      %p You can either:

      %ul
        %li Drive to your hotel, park, and jump on one of the buses we chartered to take you to and from the hotel. That's what we recommend.
        %li Just drive to the venue. There's plenty of parking.

      %p The easiest thing to do is to fly into Logan Airport and drive. Directions to the venue from different places:

      %ul
        %li
          %strong from Boston Logan Airport: 
          Follow signs to Route 1A N towards Revere (it will take you briefly onto I90 E). Take 1A 2.5 miles and take a slight left onto MA-60 W. Take that to Route 1 N. Travel on Route 1 N for 16 miles and take a right onto Ipswitch Road. After 1 mile, take a right onto Asbury St. Willowdale is on the left about a quarter mile down.
        %li
          %strong from Boston proper: 
          Get on Route 1 N and take it for about 24 miles, into Topsfield. Take a right onto Ipswitch Road. After 1 mile, take a right onto Asbury St. Willowdale is on the left about a quarter mile down.
        %li
          %strong from New York City: 
          Drive north.

  %section#activities
    .page-header
      %h1 
        %i.icon-calendar
        %span Other activities
        %small Things to do

    %h2 Brunch
    %p There will be an informal bunch on Sunday morning at the DoubleTree hotel in Danvers. Come hang out with us!

    %h2 Rehearsal Dinner
    %p A few of you have been invited to the rehearsal dinner. We'll be providing details on that to you soon by email.

  %section#video
    .page-header
      %h1
        %i.icon-film
        %span Save the Date Video
        %small What we sent you guys when we invited you
    <iframe src="http://player.vimeo.com/video/57695114" width="500" height="375" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/57695114">Isaac and Anjali are Getting Married</a></p>
