.row
  .hero-unit
    .row
      .span4
        %h1 Isaac & Anjali
        %h2 are getting married. Booya!
        %h3 May 18, 2012
        %h3 The Awesome Location
      .span3.hidden-phone
        .thumbnail
          %img{src: '/assets/back_to_back.jpg'}
      .span3.visible-desktop
        %p This website has all the info you need to...
        %ul.nav.nav-list
          %li
            %a{href: "#when"}...know where to go
          %li
            %a{href: "#travel"}...find accomodations
          %li
            %a{href: "/rsvp"}...RSVP
          %li
            %a{href: "/how_we_met"}...read all about us
          %li
            %a{href: "/photos"}...see pictures of us doing silly stuff
          %li
            %a{href: "/info/registry"}...buy us nice things
          %li
            %a{href: "http://youtu.be/FmawyZ6JnDE?t=46m43s"}...learn kung fu

        %p We may have made one of those up.

.subnav
  %ul.nav.nav-pills
    %li
      %a{href: '#when'}
        %i.icon-time
        When and where

    %li
      %a{href: '#travel'}
        %i.icon-plane
        Travel and accomodations

    %li
      %a{href: '#video'}
        %i.icon-film
        Invitation video

    %li
      %a{href: "#more"}
        %i.icon-plus
        More stuff!

.container
  %section#when
    .page-header
      %h1
        %span When and where
        %small The dealio, yo

    %p 
      %span The ceremony and the reception at the Awesome Location. It all starts at
      %strong 6:30 PM
      %span , with the reception right afterwards.

    %address
      %span Willowdale Estate
      %br
      %span 24 Asbury St
      %br
      %span Topsfield MA

    .thumbnail.visible-desktop
      %img{src: "/assets/willowdale.jpg"}

    %p Things you might want to know:

    %ul
      %li Dress as casually as you'd like. Isaac won't be wearing a tie, if that helps.
      %li Open bar.
      %li We'll be bussing people to and from the hotels (see below).

  %section#travel
    .page-header
      %h1
        %span Travel and accommodations
        %small Hotels, airports, that kind of thing

    %h2 Hotels

    %p
      %span We recommend one of three hotels.
      %strong We'll be running a bus between the hotels and the venue before and after the wedding.
      %span So if you stay in one of these, you won't need to drive.

    %ul
      %li Some hotel link
      %li Some hotel link
      %li Some hotel link

    %p Here's a handy map with the hotels and the venue:

    %iframe{ width: 425, height: 350, frameborder: 0, scrolling: "no", marginheight: "0", marginwidth: "0", src: "http://maps.google.com/maps/ms?msa=0&msid=213756666646673663709.0004c3348545ccebe9a56&ie=UTF8&t=m&ll=42.364601,-71.092443&spn=0.011098,0.018239&z=15&output=embed"}

    %p We'll be staying at the Some Hotel or Another.

    %h2 Getting there

    %p The easiest thing to do is to fly into Logan Airport and drive. Directions from different places:

    %ul
      %li from Boston
      %li from NYC

    %p Once you're around you can either:

    %ul
      %li Drive to your hotel, park, and jump on one of the buses we charted to take you to and from the hotel. That's what we recommend.
      %li Just drive to the venue. There's plenty of parking.

  %section#video
    .page-header
      %h1
        %span Invitation Video
        %small What we sent you guys when we invited you

    %iframe{width: 420, height: 315, src: "http://www.youtube.com/embed/0PKtGnyGuKM", frameborder: 0}

  %section#more
    .page-header
      %h1 
        %span More stuff!
        %small This website is pretty nifty

    %p There's a bunch more stuff on this website.
