#photos.carousel.slide
  .carousel-inner
    .item.active
      %img{src: '/pictures/1.jpg'}
    .item
      %img{src: '/pictures/2.jpg'}
    .item
      %img{src: '/pictures/3.jpg'}
    .item
      %img{src: '/pictures/5.jpg'}
    .item
      %img{src: '/pictures/6.jpg'}
    .item
      %img{src: '/pictures/7.jpg'}
    .item
      %img{src: '/pictures/8.jpg'}
    .item
      %img{src: '/pictures/9.jpg'}
    .item
      %img{src: '/pictures/10.jpg'}
    .item
      %img{src: '/pictures/11.jpg'}
    .item
      %img{src: '/pictures/12.jpg'}
    .item
      %img{src: '/pictures/13.jpg'}
    .item
      %img{src: '/pictures/14.jpg'}
  %a.carousel-control.left{"href" => "#photos", "data-slide" => "prev"}
    =raw "&lsaquo;"
  %a.carousel-control.right{"href" => "#photos", "data-slide" => "next"}
    =raw "&rsaquo;"
